@charset "UTF-8";
header {
  height: 90px;
  margin-top: -10px;
}
header .container-fluid {
  width: 100%;
  background-color: #b3b792;
  font-size: 25px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .container-fluid img { /*LOGO*/
  height: 80px;
  margin: 10px;
}

footer .banner.footer {
  background-image: url(./medios/logoblanco.jpg);
  height: 100px;
  background-position: 60% 50%;
  background-size: contain;
  width: 100%;
  background-repeat: initial;
}

main {
  background-color: aliceblue;
  /*titulo y text de presentación*/
}
main .carousel.slide img {
  width: 100%;
  height: 400px;
  background-size: cover;
}
main .quienessomos {
  text-align: center;
  margin: 100px;
  transition: 2s;
}
main .quienessomos .grid-presentacion {
  display: grid;
  grid-template-areas: "txt1" "txt2" "txt3" "txt4" "txt5";
  grid-template-rows: repeat(5.1px);
  grid-template-columns: 90%;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 13%;
}
main .quienessomos .txt1pres {
  grid-area: txt1;
}
main .quienessomos .txt2pres {
  grid-area: txt2;
}
main .quienessomos .txt3pres {
  grid-area: txt3;
}
main .quienessomos .txt4pres {
  grid-area: txt4;
}
main .quienessomos .txt1pres {
  grid-area: txt5;
}
main .quienessomos:hover {
  color: #859476;
  transform: scale(1.5, 1.5) rotate(-15deg);
}
main section {
  padding: 5px;
  font-size: 1.5rem;
  margin: 50px;
  margin-bottom: 100px;
}
main section img {
  width: 300px;
}

/*ESTETICA!!!!*/
/*GRILLAS DE ESTETICA*/
main {
  /*Grid COPAS*/
}
main h1 {
  padding-top: 10px;
}
main .presentacion {
  text-align: center;
  margin: 80px;
  font-size: 1.6rem;
}
main section {
  margin: 20px;
  /*Grid vacum*/
  /*grid ELECTRODOS*/
  /*grid RADIOFRECUENCIA*/
  /*grid DEPILACIÓN*/
  /*grid masajes*/
}
main section .contenedor-grid.copas {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "texto texto img" "beneficios beneficios img" "contradicciones contradicciones adicionales";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100px 80px 330px 250px;
  background-color: #b3b792;
}
main section .contenedor-grid.copas .ttcopas {
  grid-area: titulo;
  text-align: center;
}
main section .contenedor-grid.copas .txtcopas {
  grid-area: texto;
}
main section .contenedor-grid.copas .bencopas {
  grid-area: beneficios;
}
main section .contenedor-grid.copas .concopas {
  grid-area: contradicciones;
}
main section .contenedor-grid.copas .infocopas {
  grid-area: adicionales;
}
main section .contenedor-grid.copas .imgcopas {
  grid-area: img;
  width: 480px;
}
main section .contenedor-grid.vacum {
  display: grid;
  grid-template-areas: "ttvacum ttvacum ttvacum" "txtvacum txtvacum txtvacum" "ben-vacum imgvacum con-vacum" "infovacum infovacum infovacum";
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100px 100px 350px 150px;
  padding: 10px;
}
main section .contenedor-grid.vacum .ttvacum {
  grid-area: ttvacum;
  text-align: center;
}
main section .contenedor-grid.vacum .txtvacum {
  grid-area: txtvacum;
}
main section .contenedor-grid.vacum .benvacum {
  grid-area: ben-vacum;
}
main section .contenedor-grid.vacum .imgvacum {
  grid-area: imgvacum;
  width: 450px;
  align-items: center;
}
main section .contenedor-grid.vacum .convacum {
  grid-area: con-vacum;
}
main section .contenedor-grid.vacum .infovacum {
  grid-area: infovacum;
  text-align: center;
}
main section .contenedor-grid.electro {
  display: grid;
  grid-template-areas: "tt tt tt" "img txt txt" "img ben con" "img ben info";
  grid-template-rows: 100px 100px 450px 300px;
  grid-template-columns: 30% 35% 25%;
  background-color: #b3b792;
  width: 100%;
  margin-left: 0%;
  padding: 10px;
}
main section .contenedor-grid.electro .ttelectro {
  grid-area: tt;
  text-align: center;
}
main section .contenedor-grid.electro .txtelectro {
  grid-area: txt;
}
main section .contenedor-grid.electro .imgelectro {
  grid-area: img;
  width: 350px;
}
main section .contenedor-grid.electro .benelectro {
  grid-area: ben;
}
main section .contenedor-grid.electro .conelectro {
  grid-area: con;
}
main section .contenedor-grid.electro .infoelectro {
  grid-area: info;
}
main section .contenedor-grid.radio {
  display: grid;
  grid-template-areas: "tt tt" "txt img" "ben img" "info con";
  grid-template-columns: 55% 40%;
  grid-template-rows: 100px 200px 450px 300px;
  padding: 10px;
}
main section .contenedor-grid.radio .ttradio {
  grid-area: tt;
  text-align: center;
}
main section .contenedor-grid.radio .txtradio {
  grid-area: txt;
}
main section .contenedor-grid.radio .imgradio {
  grid-area: img;
  padding: 20px;
  width: 350px;
}
main section .contenedor-grid.radio .benradio {
  grid-area: ben;
}
main section .contenedor-grid.radio .conradio {
  grid-area: con;
}
main section .contenedor-grid.radio .inforadio {
  grid-area: info;
}
main section .contenedor-grid.depi {
  display: grid;
  grid-template-areas: "tt tt tt tt" "txt1 txt1 txt2 txt2" "ben img img con" "info1 info1 info2 info2";
  grid-template-columns: 30% 15% 15% 35%;
  grid-template-rows: 100px 250px 400px 350px;
  background-color: #b3b792;
  align-items: center;
  padding: 20px;
}
main section .contenedor-grid.depi .ttdepi {
  grid-area: tt;
  text-align: center;
}
main section .contenedor-grid.depi .txt1depi {
  grid-area: txt1;
  text-align: left;
}
main section .contenedor-grid.depi .txt2depi {
  grid-area: txt2;
  text-align: left;
}
main section .contenedor-grid.depi .bendepi {
  grid-area: ben;
}
main section .contenedor-grid.depi .condepi {
  grid-area: con;
}
main section .contenedor-grid.depi .imgdepi {
  grid-area: img;
  width: 300px;
  padding: 10px;
}
main section .contenedor-grid.depi .info1depi {
  grid-area: info1;
  text-align: left;
}
main section .contenedor-grid.depi .info2depi {
  grid-area: info2;
  text-align: left;
  align-content: center;
  width: 100%;
}
main section .contenedor-grid.masajes {
  display: grid;
  grid-template-areas: "tt tt tt" "txt txt img" "ben ben img" "tipos tipos tipos";
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 100px 200px 400px 400px;
}
main section .contenedor-grid.masajes .ttmasajes {
  grid-area: tt;
}
main section .contenedor-grid.masajes .txtmasajes {
  grid-area: txt;
}
main section .contenedor-grid.masajes .imgmasajes {
  grid-area: img;
  width: 400px;
  background-position: right;
  padding-left: 10px;
}
main section .contenedor-grid.masajes .tiposmasajes {
  grid-area: tipos;
}
main section .contenedor-grid.masajes .benmasajes {
  grid-area: ben;
}
main section .radiofacial {
  background-color: #b3b792;
  padding: 10px;
}
main section .lifting {
  background-color: #b3b792;
  padding: 10px;
}
main section .pestañasycejas {
  background-color: #b3b792;
  padding: 10px;
}
main section .manosypies {
  padding: 20px;
  padding-top: 5px;
  margin: 15px;
}

main .presentacion {
  border: #859476 solid 20px;
}
main .videodanza {
  margin-left: 30px;
}
main p {
  padding: 20px;
  font-size: 1.4rem;
}

main .contenedor-grid.entrenamiento {
  display: grid;
  grid-template-areas: "tt1 tt1" "img1 txt1" "tt2 img2" "txt2 img2" "tt3 tt3" "img3 txt3";
  grid-template-rows: 100px 450px 150px 450px 100px 300px;
  grid-template-columns: 50% 40%;
  padding: 5%;
}
main .contenedor-grid.entrenamiento .ttentrenamiento {
  grid-area: tt1;
}
main .contenedor-grid.entrenamiento .imgentrenamiento {
  grid-area: img1;
  padding: 5%;
  width: 400px;
  padding: 5%;
}
main .contenedor-grid.entrenamiento .txtentrenamiento {
  grid-area: txt1;
  text-align: center;
}
main .contenedor-grid.entrenamiento .ttyoga {
  grid-area: tt2;
}
main .contenedor-grid.entrenamiento .imgyoga {
  grid-area: img2;
  width: 300px;
}
main .contenedor-grid.entrenamiento .txtyoga {
  grid-area: txt2;
}
main .contenedor-grid.entrenamiento .ttpilates {
  grid-area: tt3;
}
main .contenedor-grid.entrenamiento .txtpilates {
  grid-area: txt3;
}
main .contenedor-grid.entrenamiento .imgpilates {
  grid-area: img3;
  padding: 5%;
  margin-bottom: 10%;
  width: 300px;
}

main .iconos {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
main .ubicacion {
  margin: 30px;
}
main .formulario {
  margin: 15px;
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }
  body header .zoa {
    z-index: 100;
  }
  body header .zoa img { /*LOGO*/
    height: 70px;
    margin: 5px;
  }
  body header .zoa .milo {
    background-color: #b3b792;
  }
  body main {
    padding: 20px;
  }
  body main .carruselindex {
    margin: 0%;
  }
  body main h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  body main h2 {
    font-size: 2rem;
  }
  body main h3 {
    font-size: 1.5rem;
  }
  body main h4 {
    font-size: 1rem;
  }
  body main p {
    font-size: 1rem;
  }
  body main section {
    margin: 10px;
  }
  body main section .contenedor-grid.copas {
    grid-template-areas: "titulo" "beneficios" "adicionales";
    grid-template-columns: 100%;
    grid-template-rows: 80px 300px 130px;
  }
  body main section .contenedor-grid.copas .txtcopas {
    display: none;
  }
  body main section .contenedor-grid.copas .concopas {
    display: none;
  }
  body main section .contenedor-grid.copas .imgcopas {
    display: none;
  }
  body main section .contenedor-grid.vacum {
    grid-template-areas: "ttvacum" "txtvacum" "ben-vacum";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 130px 300px;
  }
  body main section .contenedor-grid.vacum .convacum {
    display: none;
  }
  body main section .contenedor-grid.vacum .infovacum {
    display: none;
  }
  body main section .contenedor-grid.vacum .imgvacum {
    display: none;
  }
  body main section .contenedor-grid.electro {
    grid-template-areas: "tt" "ben";
    grid-template-rows: 80px 400px 200px;
    grid-template-columns: 1fr;
  }
  body main section .contenedor-grid.electro .txtelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .conelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .infoelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .imgelectro {
    display: none;
  }
  body main section .contenedor-grid.radio {
    grid-template-areas: "tt" "txt " "ben" "info";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 150px 380px 150px;
  }
  body main section .contenedor-grid.radio .imgradio {
    display: none;
  }
  body main section .contenedor-grid.radio .conradio {
    display: none;
  }
  body main section .contenedor-grid.depi {
    grid-template-areas: "tt" "ben" "info1";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 250px 300px;
  }
  body main section .contenedor-grid.depi .txt1depi {
    display: none;
  }
  body main section .contenedor-grid.depi .txt2depi {
    display: none;
  }
  body main section .contenedor-grid.depi .condepi {
    display: none;
  }
  body main section .contenedor-grid.depi .info2depi {
    display: none;
  }
  body main section .contenedor-grid.depi .imgdepi {
    display: none;
  }
  body main section .contenedor-grid.masajes {
    grid-template-areas: "tt" "ben" "tipos";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px 450px;
  }
  body main section .contenedor-grid.masajes .txtmasajes {
    display: none;
  }
  body main section .contenedor-grid.masajes .imgmasajes {
    display: none;
  }
  body main section .contenedor-grid.masajes .manosypies img {
    display: none;
  }
  body main .contenedor-grid.entrenamiento {
    grid-template-areas: "tt1" "img1" "txt1" "tt2" "txt2" "img2" "tt3" "img3" "txt3";
    grid-template-rows: 80px 300px 150px 80px 200px 450px 80px 300px 200px;
    grid-template-columns: 1fr;
  }
  body main .contenedor-grid.entrenamiento .imgentrenamiento {
    width: 300px;
  }
  body main .contenedor-grid.entrenamiento .imgyoga {
    width: 230px;
  }
  body main .contenedor-grid.entrenamiento .imgpilates {
    width: 250px;
  }
  body main h1 .videodanza {
    width: 100px;
  }
  body main h1 .videodanza .iframedanza {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main h1 p {
    font-size: 2rem;
    text-align: center;
  }
  body main h1 .ubicacion {
    width: 250px;
  }
  body footer img {
    height: 30px;
  }
}
body {
  background-color: aliceblue;
  color: #725c3a;
  text-transform: initial;
  font-family: "Belleza", sans-serif;
  /*color de fondo de pag*/
  background-color: #e5e0d8;
}

/*# sourceMappingURL=estilos.css.map */
