@charset "UTF-8";
header {
  height: 90px;
  margin-top: -10px;
}
header .zoa .papa {
  width: 100%;
  background-color: #b3b792;
  font-size: 25px;
  height: 90px;
}
header .zoa .papa .milo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: aqua;
}
header .zoa .papa .mama { /*LOGO*/
  width: 95px;
  margin: 10px;
}

footer .banner.footer {
  background-image: url(./medios/logoblanco.jpg);
  height: 100px;
  background-position: 60% 50%;
  background-size: contain;
  width: 100%;
  background-repeat: initial;
}

main {
  background-color: aliceblue;
  /*titulo y text de presentación*/
  /*nuestros servicios*/
  /*estetica*/
}
main .carousel.slide img {
  width: 100%;
  height: 450px;
  background-size: cover;
}
main .quienessomos {
  text-align: center;
  margin: 100px;
  transition: 2s;
  font-size: 4rem;
}
main .quienessomos:hover {
  color: #859476;
  transform: scale(1.5, 1.5) rotate(-15deg);
}
main div .p.index {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  font-size: 1.5rem;
  background-color: #b3b792;
}
main div .p.index1 {
  font-size: 2rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}
main .h2index {
  font-size: 2rem;
  margin: 30px;
  padding-top: 100px;
}
main .div.servicios.index {
  padding: 30px;
  /*danza*/
  /*entrenamientos*/
}
main .div.servicios.index .h3index {
  padding: 30px;
}
main .div.servicios.index a {
  color: #725c3a;
  font-size: 1.9rem;
  margin-top: 25px;
}
main .div.servicios.index .contenedor.grid.index {
  display: grid;
  grid-template-areas: "presentacion presentacion presentacion" "copas vacum depi" "radio electro masajes" "punta lifting manicura";
  grid-template-rows: 120px 100px 100px 100px;
  grid-template-columns: 30% 42% 30%;
  text-align: center;
  background-color: #b3b792;
  padding-right: 50px;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index {
  grid-area: presentacion;
  font-size: 1.7rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index1 {
  grid-area: copas;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index2 {
  grid-area: vacum;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index3 {
  grid-area: depi;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index4 {
  grid-area: radio;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index5 {
  grid-area: electro;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index6 {
  grid-area: masajes;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index7 {
  grid-area: punta;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index8 {
  grid-area: lifting;
  font-size: 1.6rem;
}
main .div.servicios.index .contenedor.grid.index .p.estetica.index9 {
  grid-area: manicura;
  font-size: 1.6rem;
}
main .div.servicios.index .danzaindex {
  background-color: #b3b792;
}
main .div.servicios.index .danzaindex .p.danza.index {
  font-size: 1.6rem;
}
main .div.servicios.index .danzaindex .p.danza.index.tt {
  text-align: center;
}
main .div.servicios.index .entrenamientoindex {
  background-color: #b3b792;
}
main .div.servicios.index .entrenamientoindex .p.entrenamiento.index.tt {
  text-align: center;
}
main .div.servicios.index .entrenamientoindex .p.entrenamiento.index {
  font-size: 1.6rem;
}

/*ESTETICA!!!!*/
/*GRILLAS DE ESTETICA*/
main {
  /*Grid COPAS*/
  /*section faciales*/
}
main h1 {
  margin: 20px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}
main .presentacion {
  text-align: center;
  margin: 30px;
  font-size: 1.6rem;
}
main section {
  margin: 20px;
  /*Grid vacum*/
  /*grid ELECTRODOS*/
  /*grid RADIOFRECUENCIA*/
  /*grid DEPILACIÓN*/
  /*grid masajes*/
}
main section p {
  padding: 5px;
}
main section .contenedor-grid.copas {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "texto texto img" "beneficios beneficios img" "contradicciones contradicciones adicionales";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100px 80px 380px 250px;
  background-color: #b3b792;
  padding-left: 20px;
}
main section .contenedor-grid.copas h4 {
  font-weight: bolder;
}
main section .contenedor-grid.copas .ttcopas {
  grid-area: titulo;
  font-weight: bold;
  padding-top: 30px;
}
main section .contenedor-grid.copas .txtcopas {
  grid-area: texto;
}
main section .contenedor-grid.copas .bencopas {
  grid-area: beneficios;
  padding-top: 10px;
}
main section .contenedor-grid.copas .concopas {
  grid-area: contradicciones;
}
main section .contenedor-grid.copas .infocopas {
  grid-area: adicionales;
}
main section .contenedor-grid.copas .imgcopas {
  grid-area: img;
  width: 480px;
  border-radius: 15px;
}
main section .contenedor-grid.vacum {
  display: grid;
  grid-template-areas: "ttvacum ttvacum ttvacum" "txtvacum txtvacum txtvacum" "ben-vacum imgvacum con-vacum" "infovacum infovacum infovacum";
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100px 100px 330px 180px;
  padding: 10px;
}
main section .contenedor-grid.vacum h4 {
  font-weight: bolder;
}
main section .contenedor-grid.vacum .ttvacum {
  grid-area: ttvacum;
  font-weight: bold;
  padding-top: 20px;
}
main section .contenedor-grid.vacum .txtvacum {
  grid-area: txtvacum;
}
main section .contenedor-grid.vacum .benvacum {
  grid-area: ben-vacum;
}
main section .contenedor-grid.vacum .imgvacum {
  grid-area: imgvacum;
  width: 450px;
  align-items: center;
  border-radius: 15px;
}
main section .contenedor-grid.vacum .convacum {
  grid-area: con-vacum;
}
main section .contenedor-grid.vacum .infovacum {
  grid-area: infovacum;
  text-align: center;
}
main section .contenedor-grid.electro {
  display: grid;
  grid-template-areas: "tt tt tt" "img txt txt" "img ben con" "img ben info";
  grid-template-rows: 100px 130px 380px 200px;
  grid-template-columns: 30% 43% 25%;
  background-color: #b3b792;
  width: 100%;
  margin-left: 0%;
  padding: 10px;
}
main section .contenedor-grid.electro h4 {
  font-weight: bolder;
}
main section .contenedor-grid.electro .ttelectro {
  grid-area: tt;
  font-weight: bold;
  padding-top: 25px;
}
main section .contenedor-grid.electro .txtelectro {
  grid-area: txt;
}
main section .contenedor-grid.electro .imgelectro {
  grid-area: img;
  width: 350px;
  border-radius: 15px;
}
main section .contenedor-grid.electro .benelectro {
  grid-area: ben;
}
main section .contenedor-grid.electro .conelectro {
  grid-area: con;
}
main section .contenedor-grid.electro .infoelectro {
  grid-area: info;
}
main section .contenedor-grid.radio {
  display: grid;
  grid-template-areas: "tt tt tt" "txt txt img" "ben ben img" "con info info";
  grid-template-columns: 43% 30% 20%;
  grid-template-rows: 100px 150px 400px 300px;
  padding: 10px;
}
main section .contenedor-grid.radio h4 {
  font-weight: bolder;
}
main section .contenedor-grid.radio .ttradio {
  grid-area: tt;
  font-weight: bold;
  padding-top: 20px;
}
main section .contenedor-grid.radio .txtradio {
  grid-area: txt;
}
main section .contenedor-grid.radio .imgradio {
  border-radius: 15px;
  grid-area: img;
  padding: 20px;
  width: 350px;
  padding-top: 70px;
}
main section .contenedor-grid.radio .benradio {
  grid-area: ben;
}
main section .contenedor-grid.radio .conradio {
  grid-area: con;
}
main section .contenedor-grid.radio .inforadio {
  grid-area: info;
}
main section .contenedor-grid.depi {
  display: grid;
  grid-template-areas: "tt tt tt tt" "txt1 txt1 txt2 txt2" "ben img img con" "info1 info1 info2 info2";
  grid-template-columns: 35% 15% 15% 35%;
  grid-template-rows: 50px 320px 360px 350px;
  background-color: #b3b792;
  align-items: center;
  padding: 20px;
}
main section .contenedor-grid.depi h4 {
  font-weight: bolder;
}
main section .contenedor-grid.depi .ttdepi {
  grid-area: tt;
  font-weight: bold;
  padding-top: 20px;
}
main section .contenedor-grid.depi .txt1depi {
  grid-area: txt1;
  text-align: left;
}
main section .contenedor-grid.depi .txt2depi {
  grid-area: txt2;
  text-align: left;
}
main section .contenedor-grid.depi .bendepi {
  grid-area: ben;
}
main section .contenedor-grid.depi .condepi {
  grid-area: con;
}
main section .contenedor-grid.depi .imgdepi {
  grid-area: img;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}
main section .contenedor-grid.depi .info1depi {
  grid-area: info1;
  text-align: left;
}
main section .contenedor-grid.depi .info2depi {
  grid-area: info2;
  text-align: left;
  align-content: center;
  width: 100%;
  padding-left: 30px;
}
main section .contenedor-grid.masajes {
  display: grid;
  grid-template-areas: "tt tt tt" "txt txt img" "ben ben img" "tipos tipos tipos";
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 100px 180px 450px 440px;
  padding: 20px;
}
main section .contenedor-grid.masajes h4 {
  font-weight: bolder;
}
main section .contenedor-grid.masajes .ttmasajes {
  grid-area: tt;
  font-weight: bold;
  padding-top: 20px;
}
main section .contenedor-grid.masajes .txtmasajes {
  grid-area: txt;
}
main section .contenedor-grid.masajes .imgmasajes {
  grid-area: img;
  width: 400px;
  background-position: right;
  padding-left: 10px;
  border-radius: 15px;
}
main section .contenedor-grid.masajes .tiposmasajes {
  grid-area: tipos;
}
main section .contenedor-grid.masajes .benmasajes {
  grid-area: ben;
}
main h2 {
  padding: 20px;
}
main .sect-faciales p {
  padding: 5px;
}
main .sect-faciales .radiofacial {
  background-color: #b3b792;
  padding: 10px;
  margin: 15px;
}
main .sect-faciales .radiofacial p {
  margin: 30px;
}
main .sect-faciales .radiofacial h3 {
  font-weight: bold;
}
main .sect-faciales .puntadiamante {
  padding: 10px;
  margin: 15px;
}
main .sect-faciales .puntadiamante h3 {
  font-weight: bold;
}
main .sect-faciales .puntadiamante h4 {
  font-weight: bolder;
}
main .sect-faciales .puntadiamante p {
  margin: 30px;
}
main .sect-faciales .puntadiamante img {
  display: flex;
  margin-left: auto;
  width: 200px;
  width: 40%;
  border-radius: 15px;
}
main .sect-faciales .lifting {
  background-color: #b3b792;
  padding: 10px;
  margin: 15px;
}
main .sect-faciales .lifting p {
  margin: 30px;
}
main .sect-faciales .lifting img {
  width: 200px;
  display: flex;
  margin-left: auto;
  border-radius: 15px;
}
main .sect-faciales .pestañasycejas {
  background-color: #b3b792;
  padding: 10px;
  margin: 15px;
}
main .sect-faciales .pestañasycejas h3 {
  font-weight: bold;
}
main .sect-faciales .pestañasycejas h4 {
  font-weight: bolder;
}
main .sect-faciales .pestañasycejas h5 {
  font-weight: bold;
}
main .sect-faciales .pestañasycejas p {
  margin: 30px;
}
main .sect-manosypies {
  padding: 20px;
  padding-top: 5px;
  margin: 20px;
}
main .sect-manosypies p {
  padding: 5px;
}
main .sect-manosypies h2 {
  font-weight: bold;
}
main .sect-manosypies .contenedor-grid.uñas {
  display: grid;
  grid-template-areas: "txt txt txt" "imgsemi imgcapping imgesculpidas" "ttsemi ttcapping ttesculpidas" "txtsemi txtcapping txtesculpidas" ". . info1" ". . info2" "diseño diseño diseño";
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: 100px 400px repeat(160px) 10px 10px 200px;
  margin: 15px;
  padding: 20px;
  margin: 20px;
}
main .sect-manosypies .contenedor-grid.uñas .txtuñas {
  grid-area: txt;
}
main .sect-manosypies .contenedor-grid.uñas .semipermanente {
  grid-area: ttsemi;
  font-weight: bolder;
}
main .sect-manosypies .contenedor-grid.uñas .imgsemi {
  grid-area: imgsemi;
  width: 350px;
  border-radius: 15px;
}
main .sect-manosypies .contenedor-grid.uñas .txtsemi {
  grid-area: txtsemi;
}
main .sect-manosypies .contenedor-grid.uñas .capping {
  grid-area: ttcapping;
  font-weight: bolder;
}
main .sect-manosypies .contenedor-grid.uñas .imgcapping {
  grid-area: imgcapping;
  width: 300px;
  border-radius: 15px;
}
main .sect-manosypies .contenedor-grid.uñas .txtcapping {
  grid-area: txtcapping;
}
main .sect-manosypies .contenedor-grid.uñas .esculpidas {
  grid-area: ttesculpidas;
  font-weight: bolder;
}
main .sect-manosypies .contenedor-grid.uñas .imgesculpidas {
  grid-area: imgesculpidas;
  width: 250px;
  border-radius: 15px;
}
main .sect-manosypies .contenedor-grid.uñas .txtesculpidas {
  grid-area: txtesculpidas;
}
main .sect-manosypies .contenedor-grid.uñas .info1esculpidas {
  grid-area: info1;
  padding: 0px;
}
main .sect-manosypies .contenedor-grid.uñas .info2esculpidas {
  grid-area: info2;
  padding: 0px;
}
main .sect-manosypies .contenedor-grid.uñas .explicaciondiseños {
  grid-area: diseño;
  padding-top: 30px;
}

main {
  /*banner*/
  /*grilla de horarios danza*/
}
main .bannerdanza {
  max-width: 100%;
  width: 1425px;
  margin-top: -10px;
}
main .presentaciondanza {
  border: #859476 solid 10px;
  margin: 30px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
}
main .videodanza {
  margin-left: 30px;
}
main p {
  font-size: 1.4rem;
}
main .grid-danza.h2 {
  display: grid;
  grid-template-areas: "niveles filosofia" "p1 p2";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 150px;
  padding-top: 30px;
  margin: 8%;
}
main .grid-danza.h2 h2 {
  font-weight: bolder;
}
main .grid-danza.h2 .todoslosniveles {
  grid-area: niveles;
}
main .grid-danza.h2 .p1danza {
  grid-area: p1;
}
main .grid-danza.h2 .filosofia {
  grid-area: filosofia;
}
main .grid-danza.h2 .p2danza {
  grid-area: p2;
}
main .grid-danza.horarios {
  display: grid;
  grid-template-areas: "categoria horarios horarios" "infantil horarioinfantil ejercicios" "juvenil horariojuvenil ejercicios" "adultos horarioadultos practicas" "adultosmayores horariomayores elongacion";
  grid-template-columns: 30% 40% 30%;
  grid-template-columns: 120px repeat(400px);
  padding: 40px;
  margin: 40px;
  background-color: #b3b792;
  text-shadow: 4px -1px 5px rgba(72, 54, 35, 0.58);
}
main .grid-danza.horarios .ttdanza {
  grid-area: categoria;
  font-weight: bolder;
  padding: 15px;
  font-size: 2.3rem;
}
main .grid-danza.horarios .horarios {
  grid-area: horarios;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
  font-size: 2.3rem;
}
main .grid-danza.horarios .infantil {
  grid-area: infantil;
  font-size: 2rem;
}
main .grid-danza.horarios .horarioinfant {
  grid-area: horarioinfantil;
  text-align: center;
  font-size: 2rem;
}
main .grid-danza.horarios .ejerciciosdanza {
  grid-area: ejercicios;
  font-size: 2rem;
}
main .grid-danza.horarios .juvenil {
  grid-area: juvenil;
  font-size: 2rem;
}
main .grid-danza.horarios .horariojuvenil {
  grid-area: horariojuvenil;
  text-align: center;
  font-size: 2rem;
}
main .grid-danza.horarios .adultos {
  grid-area: adultos;
  font-size: 2rem;
}
main .grid-danza.horarios .horarioadultos {
  grid-area: horarioadultos;
  text-align: center;
  font-size: 2rem;
}
main .grid-danza.horarios .practicasdanza {
  grid-area: practicas;
  font-size: 2rem;
}
main .grid-danza.horarios .adultosmayores {
  grid-area: adultosmayores;
  font-size: 2rem;
}
main .grid-danza.horarios .horariosmayores {
  grid-area: horariomayores;
  text-align: center;
  font-size: 2rem;
}
main .grid-danza.horarios .elongaciondanza {
  grid-area: elongacion;
  font-size: 2rem;
}

main .contenedor-grid.entrenamiento {
  display: grid;
  grid-template-areas: "tt1 tt1" "img1 txt1" "tt2 img2" "txt2 img2" "tt3 tt3" "img3 txt3";
  grid-template-rows: 100px 450px 150px 450px 100px 300px;
  grid-template-columns: 50% 40%;
  padding: 5%;
}
main .contenedor-grid.entrenamiento .ttentrenamiento {
  grid-area: tt1;
}
main .contenedor-grid.entrenamiento .imgentrenamiento {
  grid-area: img1;
  padding: 5%;
  width: 400px;
  padding: 5%;
}
main .contenedor-grid.entrenamiento .txtentrenamiento {
  grid-area: txt1;
  text-align: center;
}
main .contenedor-grid.entrenamiento .ttyoga {
  grid-area: tt2;
}
main .contenedor-grid.entrenamiento .imgyoga {
  grid-area: img2;
  width: 300px;
}
main .contenedor-grid.entrenamiento .txtyoga {
  grid-area: txt2;
}
main .contenedor-grid.entrenamiento .ttpilates {
  grid-area: tt3;
}
main .contenedor-grid.entrenamiento .txtpilates {
  grid-area: txt3;
}
main .contenedor-grid.entrenamiento .imgpilates {
  grid-area: img3;
  padding: 5%;
  margin-bottom: 10%;
  width: 300px;
}

main .iconos {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
main .ubicacion {
  margin: 30px;
}
main .formulario {
  margin: 15px;
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }
  body header .zoa {
    z-index: 100;
  }
  body header .zoa img { /*LOGO*/
    height: 70px;
    margin: 5px;
  }
  body header .zoa .milo {
    background-color: #b3b792;
  }
  body main {
    padding: 20px;
  }
  body main .carruselindex {
    margin: 0%;
  }
  body main h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  body main h2 {
    font-size: 2rem;
  }
  body main h3 {
    font-size: 1.5rem;
  }
  body main h4 {
    font-size: 1rem;
  }
  body main p {
    font-size: 1rem;
  }
  body main section {
    margin: 10px;
  }
  body main section .contenedor-grid.copas {
    grid-template-areas: "titulo" "beneficios" "adicionales";
    grid-template-columns: 100%;
    grid-template-rows: 80px 300px 130px;
  }
  body main section .contenedor-grid.copas .txtcopas {
    display: none;
  }
  body main section .contenedor-grid.copas .concopas {
    display: none;
  }
  body main section .contenedor-grid.copas .imgcopas {
    display: none;
  }
  body main section .contenedor-grid.vacum {
    grid-template-areas: "ttvacum" "txtvacum" "ben-vacum";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 130px 300px;
  }
  body main section .contenedor-grid.vacum .convacum {
    display: none;
  }
  body main section .contenedor-grid.vacum .infovacum {
    display: none;
  }
  body main section .contenedor-grid.vacum .imgvacum {
    display: none;
  }
  body main section .contenedor-grid.electro {
    grid-template-areas: "tt" "ben";
    grid-template-rows: 80px 400px 200px;
    grid-template-columns: 1fr;
  }
  body main section .contenedor-grid.electro .txtelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .conelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .infoelectro {
    display: none;
  }
  body main section .contenedor-grid.electro .imgelectro {
    display: none;
  }
  body main section .contenedor-grid.radio {
    grid-template-areas: "tt" "txt " "ben" "info";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 150px 380px 150px;
  }
  body main section .contenedor-grid.radio .imgradio {
    display: none;
  }
  body main section .contenedor-grid.radio .conradio {
    display: none;
  }
  body main section .contenedor-grid.depi {
    grid-template-areas: "tt" "ben" "info1";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 250px 300px;
  }
  body main section .contenedor-grid.depi .txt1depi {
    display: none;
  }
  body main section .contenedor-grid.depi .txt2depi {
    display: none;
  }
  body main section .contenedor-grid.depi .condepi {
    display: none;
  }
  body main section .contenedor-grid.depi .info2depi {
    display: none;
  }
  body main section .contenedor-grid.depi .imgdepi {
    display: none;
  }
  body main section .contenedor-grid.masajes {
    grid-template-areas: "tt" "ben" "tipos";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px 450px;
  }
  body main section .contenedor-grid.masajes .txtmasajes {
    display: none;
  }
  body main section .contenedor-grid.masajes .imgmasajes {
    display: none;
  }
  body main section .contenedor-grid.masajes .manosypies img {
    display: none;
  }
  body main .contenedor-grid.entrenamiento {
    grid-template-areas: "tt1" "img1" "txt1" "tt2" "txt2" "img2" "tt3" "img3" "txt3";
    grid-template-rows: 80px 300px 150px 80px 200px 450px 80px 300px 200px;
    grid-template-columns: 1fr;
  }
  body main .contenedor-grid.entrenamiento .imgentrenamiento {
    width: 300px;
  }
  body main .contenedor-grid.entrenamiento .imgyoga {
    width: 230px;
  }
  body main .contenedor-grid.entrenamiento .imgpilates {
    width: 250px;
  }
  body main h1 .videodanza {
    width: 100px;
  }
  body main h1 .videodanza .iframedanza {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main h1 p {
    font-size: 2rem;
    text-align: center;
  }
  body main h1 .ubicacion {
    width: 250px;
  }
  body footer img {
    height: 30px;
  }
}
body {
  background-color: aliceblue;
  color: #725c3a;
  text-transform: initial;
  font-family: "Belleza", sans-serif;
  /*color de fondo de pag*/
  background-color: #e5e0d8;
}

/*# sourceMappingURL=estilos.css.map */
