/*recet css1*/
* {
    margin: 0;
    padding: 0;
}
/*font*/
/*font-family: "Belleza", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


/*estilo todos los h1*/
h1 {
    color: #b3b792;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    font-size: 4rem;
    margin-bottom: 5px;
    text-shadow:-9px 7px 5px rgba(0,0,0,0.76);
    
}


h2 {
    font-size: 3rem;
    margin: 30px;
    text-decoration: underline;
    text-decoration: solid;
    
}

h3 {
    margin: 30px;
    font-size: 2rem;
}


h4 {
    margin: 20px;
}


















