@use './partials/variables' as *;

@use './partials/headerfooter' as *;

@use './partials/index' as *;
@use './partials/estetica' as *;
@use './partials/danza' as *;
@use './partials/entrenamiento' as *;
@use './partials/contactos' as *;

@use './partials/mediaq' as *;




body  /*configuracion general de la pag*/ {
    background-color: aliceblue;
    color: #725c3a;
    text-transform:initial;
    font-family: "Belleza", sans-serif;
    /*color de fondo de pag*/
    background-color: #e5e0d8; 
}










