@use './variables' as *;
main {
   .presentacioncontactanos {
        h1 {
            padding: 50px;
            
        }
        p {
            text-align: center;
            font-weight: bold;
            }
    }
    .contactanos {
        padding: 30px;
        display: flex;
        align-items: center;
        p {
            text-align: left;
        }
        img {
            width: 300px;
        
        }
        .iconosig {
            padding-right: 35px;
        }
        }
    .pubicacion {
        text-align: center;
        font-weight: bold;
    }
    .ubicacion {
        margin: 50px;
        position: relative;
        top: auto;
        left: 360px;
        box-shadow: -2px 10px 16px 10px rgba(114,92,58,0.75);
        -webkit-box-shadow: -2px 10px 16px 10px rgba(114,92,58,0.75);
        -moz-box-shadow: -2px 10px 16px 10px rgba(114,92,58,0.75);
        @extend .bordes;
    }
    .formulario {
        P{
            margin: 20px;
            padding: 30px;
            font-weight: bold;
        }
    
        .formulario { 
            padding: 40px 50px;
            label {
                padding: 5px;
            }
        }    
    }
}