/*ESTETICA!!!!*/
/*GRILLAS DE ESTETICA*/
@use './variables' as *;
main {
    .carruselestetica {
        padding-top: 28px;
    }
    h1 {
        margin: 20px;
        padding-top: 10px;
        font-weight: bold;
        text-align: center;
    }
    .presentacion {
        text-align: center;
        padding: 40px;
        font-size: 1.6rem;
    }
    /*Grid COPAS*/
    .scrolltratamientos {
        margin-top: 40px;
        padding-left: 30px;
        color: $marron;
        font-size: 1.4rem;
    }
    section {
        p {
            padding: 5px;
        }
        margin: 20px;
        .contenedor-grid.copas {
            display: grid;
            grid-template-areas: 
            "titulo titulo titulo"
            "texto texto img"
            "beneficios beneficios img"
            "contradicciones contradicciones adicionales";
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 100px 80px 380px 250px ;
            background-color: #b3b792;
            padding-left: 20px;
            @extend .bordes;
            h4 {
                font-weight: bolder;
            }
            .ttcopas {
                grid-area: titulo;
                font-weight: bold;
                padding-top: 30px;
            }
            .txtcopas {
                    grid-area: texto;
            }
            .bencopas {
                    grid-area: beneficios;
                    padding-top: 10px;
            }
            .concopas {
                    grid-area: contradicciones;
            }
            .infocopas {
                    grid-area: adicionales;
            }
            .imgcopas {
                    grid-area: img;
                    width: 480px;
                    border-radius: 15px;
            }
        }
        
        /*Grid vacum*/
        .contenedor-grid.vacum {
            display: grid;
            grid-template-areas: 
            "ttvacum ttvacum ttvacum"
            "txtvacum txtvacum txtvacum"
            "ben-vacum imgvacum con-vacum"
            "infovacum infovacum infovacum";
            grid-template-columns: 30% 40% 30%;
            grid-template-rows: 100px 100px 330px 180px;
            padding: 10px;
            
            h4 {
                font-weight: bolder;
            }
            .ttvacum {
                grid-area: ttvacum;
                font-weight: bold;
                padding-top: 20px;
            }
    
            .txtvacum {
                grid-area: txtvacum;
            }
    
            .benvacum {
                grid-area: ben-vacum;
            }
    
            .imgvacum {
                grid-area: imgvacum;
                width: 450px;
                align-items: center;
                border-radius: 15px;
            }
    
            .convacum {
                grid-area: con-vacum;
            }
    
            .infovacum {
                grid-area: infovacum;
                text-align: center;
            }
        }
        /*grid ELECTRODOS*/
        .contenedor-grid.electro {
            display: grid;
            grid-template-areas:
            "tt tt tt"
            "img txt txt"
            "img ben con"
            "img ben info" ;
            grid-template-rows: 100px 130px 380px 200px;
            grid-template-columns: 30% 43% 25%;
            @extend .bordes;

            background-color: #b3b792;
            width: 100%;
            margin-left: 0%;
            padding: 10px;
            h4 {
                font-weight: bolder;
            }
            .ttelectro {
                grid-area: tt;
                font-weight: bold;
                padding-top: 25px;
            }
            .txtelectro {
                grid-area: txt;
            }   
            .imgelectro {
                grid-area: img;
                width: 350px;   
                border-radius: 15px;            
            }   
            .benelectro { 
                grid-area: ben;
            }   
            .conelectro {
                grid-area: con;
            }   
            .infoelectro {
                grid-area: info;
            }
        }

        /*grid RADIOFRECUENCIA*/

        .contenedor-grid.radio {
            display: grid;
            grid-template-areas: 
            "tt tt tt"
            "txt txt img"
            "ben ben img"
            "con info info";
            grid-template-columns: 43% 30% 20%;
            grid-template-rows: 100px 150px 400px 300px;
            padding: 10px;
            h4 {
                font-weight: bolder;
            }
            .ttradio {
                grid-area: tt;
                font-weight: bold;
                padding-top: 20px;
            }
            .txtradio {
                grid-area: txt;
            }
            .imgradio { 
                
                grid-area: img;
                padding: 20px;
                width: 350px;
                padding-top: 70px;
                @extend .bordes;
            }
            .benradio {
                grid-area: ben;
            }            
            .conradio { 
                grid-area: con;
            }
            .inforadio {
                grid-area: info;
            }
        }

        /*grid DEPILACIÓN*/
        .contenedor-grid.depi {
            display: grid;
            grid-template-areas:
            "tt tt tt tt" 
            "txt1 txt1 txt2 txt2"
            "ben img img con"
            "info1 info1 info2 info2";
            grid-template-columns: 35% 15% 15% 35%;
            grid-template-rows: 50px 320px 360px 350px;
            @extend .bordes;
            background-color: #b3b792;
            align-items: center;
            padding: 20px;
            h4 {
                font-weight: bolder;
            }
            .ttdepi {
                grid-area: tt;
                font-weight: bold;
                padding-top: 20px;
            }    
            .txt1depi {
                grid-area: txt1;
                text-align: left;
            }  
            .txt2depi {
                grid-area: txt2;
                text-align: left;
            }   
            .bendepi {
                grid-area: ben;
            }   
            .condepi {
                grid-area: con;
            }    
            .imgdepi {
                grid-area: img;
                width: 300px;
                padding: 10px;  
                border-radius: 15px;              
            }   
            .info1depi {
                grid-area: info1;
                text-align: left;              
            }   
            .info2depi {
                grid-area: info2;
                text-align: left;
                align-content: center;
                width: 100%;  
                padding-left: 30px;             
            }
        }
        /*grid masajes*/
        .contenedor-grid.masajes {
            display: grid;
            grid-template-areas: 
            "tt tt tt"
            "txt txt img"
            "ben ben img"
            "tipos tipos tipos";
            grid-template-columns: 25% 40% 35%;
            grid-template-rows: 100px 180px 470px 440px;
            padding: 20px;
            h4 {
                font-weight: bolder;
            }
            .ttmasajes {
                grid-area: tt;
                font-weight: bold;
                padding-top: 20px;
            }    
            .txtmasajes {
                grid-area: txt;
            }   
            .imgmasajes {
                grid-area: img;
                width: 400px;
                background-position: right;
                padding-left: 10px;
                border-radius: 15px;
            }
            .tiposmasajes {
                grid-area: tipos;
            }   
            .benmasajes {
                grid-area: ben;
            }
        }
    }
    /*section faciales*/
    h2 {
        padding: 20px;
    }
    .sect-faciales {
        p {
            padding: 5px;
        }
        .radiofacial {
            background-color: #b3b792;
            padding: 10px;
            margin: 15px;
            p {
                margin: 30px;
            }
            h3 {
                font-weight: bold;
            }
            @extend .bordes;
        }
        .puntadiamante {
            h3 {
                font-weight: bold;
            }
            h4 {
                font-weight: bolder;
            }
            padding: 10px;
            margin: 15px;
            p {
                margin: 30px;
            }
            img {
                display: flex;
                margin-left: auto;
                width: 200px;
                width: 40%;
                border-radius: 15px;
            }
        }
        .lifting {
            background-color: #b3b792;
            padding: 10px;
            margin: 15px;
            @extend .bordes;
            p {
                margin: 30px;
            }
            img {
                width: 200px; 
                display: flex;
                margin-left: auto;
                border-radius: 15px;
                
            }
        }

        .pestañasycejas {
            @extend .bordes;
            h3 {
                font-weight: bold;
            }
            background-color: #b3b792;
            padding: 10px;
            margin: 15px;
            h4 {
                font-weight: bolder;
            }
            h5 {
                font-weight: bold;
            }
            p {
                margin: 30px;
            }
        }
    }
    .sect-manosypies {
        p {
            padding: 5px;
        }
        padding: 20px;
        padding-top: 5px;
        margin: 20px;
        h2 {
            font-weight: bold;
        }
        .contenedor-grid.uñas {
            display: grid;
            grid-template-areas: 
            "txt txt txt"
            "imgsemi imgcapping imgesculpidas"
            "ttsemi ttcapping ttesculpidas"
            "txtsemi txtcapping txtesculpidas"
            ". . info1"
            ". . info2"
            "diseño diseño diseño";
            grid-template-columns: 35% 35% 35%;
            grid-template-rows: 100px 400px (repeat(2*80px)) 10px 10px 200px;
            margin: 15px;
            padding: 20px;
            margin: 20px;
            .txtuñas {
                grid-area: txt;
            }
            .semipermanente {
                grid-area: ttsemi;
                font-weight: bolder;
            }
            .imgsemi {
                grid-area: imgsemi;
                width: 350px;
                border-radius: 15px;
                
            }
            .txtsemi {
                grid-area: txtsemi;
            }
            .capping {
                grid-area: ttcapping;
                font-weight: bolder;
            }
            .imgcapping {
                grid-area: imgcapping;
                width: 300px;
                border-radius: 15px;
            }
            .txtcapping {
                grid-area: txtcapping;
            }
            .esculpidas {
                grid-area: ttesculpidas;
                font-weight: bolder;
            }
            .imgesculpidas {
                grid-area: imgesculpidas;
                width: 250px;
                border-radius: 15px;

                
            }
            .txtesculpidas {
                grid-area: txtesculpidas;
            }
            .info1esculpidas {
                grid-area: info1;
                padding: 0px;
            }
            .info2esculpidas {
                grid-area: info2;
                padding: 0px;
            }
            .explicaciondiseños {
                grid-area: diseño;
                padding-top: 30px;
            }

        }
    }
}
   

