footer {
    .banner.footer {
    background-image: url(./medios/logoblanco.jpg);
    height: 100px;
    background-position: 60% 50%;
    background-size:contain;
    width: 100%;
    background-repeat: initial;
    }
}

