@use "./variables" as *;
header {
    height: 90px;
    margin-top: -10px;
    .zoa {

    
        .papa {
            width: 100%;
            background-color: #b3b792;
            font-size: 25px;
            height: 90px;
            .milo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                background-color: aqua;
            }
            
            .mama { /*LOGO*/
                width: 95px;
                margin: 10px;
            }
        }
    }
}
footer {
    .banner.footer {
    background-image: url(./medios/logoblanco.jpg);
    height: 100px;
    background-position: 60% 50%;
    background-size:contain;
    width: 100%;
    background-repeat: initial;
    }
}

