@use "./variables" as *;
main { 
    background-color: aliceblue;
    
    .carousel.slide{
        img { 
        width: 100%;
        height: 400px;
        background-size: cover;
        }
    }
    /*titulo y text de presentación*/
    .quienessomos {
        text-align: center;
        margin: 100px;
        transition: 2s;
        .grid-presentacion {
        display: grid;
        grid-template-areas: 
        "txt1"
        "txt2"
        "txt3"
        "txt4"
        "txt5";
        grid-template-rows: repeat(5.100px);
        grid-template-columns: 90% ;
    
        font-size: 1.5rem;
        text-align:left;
        margin-left: 13%;
        }
        .txt1pres {
        grid-area: txt1;
        }
        .txt2pres {
        grid-area: txt2;
        }
        .txt3pres {
        grid-area: txt3;
        }
        .txt4pres {
        grid-area: txt4;
        }
        .txt1pres {
        grid-area: txt5;
        }
    }
    .quienessomos:hover {
        color: $verdeoscuro;
        transform: scale(1.5,1.5) rotate(-15deg);
    }
    section {
        @include margenes (5px,1.5rem);
        margin: 50px;
        margin-bottom: 100px;
        
        img {
            width: 300px;
        }
    }

}